.mainBody {
    background-color: #053007F2;
}

.navBar {
    background-color: rgba(255,252,245, 0.3);
}

.sectionTitle {
    font-family: "Julius Sans One", sans-serif;
    color: #D9EC81;
    font-size: 4em;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 3vh;
}

.introParagraph {
    font-family: Aleo, serif;
    font-size: 2em;
    color: #FDF8E1;
    width: 60vw;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20vh;
}

.breakLine {
    width: 75%;
    margin: 15vh auto;
}

.introParagraph2 {
    font-family: Aleo, serif;
    font-size: 2em;
    color: #FDF8E1;
    width: 60vw;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15vh;
}

.sectionSearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30vh;
}

  .searchBar {
    background-color: #3A5F26;
    opacity: 85%;
    border-style: solid;
    border-color: #FC7217;
    border-width: .5vb;
    border-radius: 50vb;
    font-family: Aleo;
    font-size: 2em;
    padding-left: 2vw;
    height: 9vh;
    width: 50vw;
  }

  .searchButton {
    border-radius: 50vb;
    position: absolute;
    background-color: rgba(252, 114, 23, 0.6);
    font-family: Aleo;
    height: 9vh;
    width: 10vw;
    margin-left: 42vw;
  }

  .resultsSection {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10vh 10vw;
    border: solid black;
  }

  .recipeCard {
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3A5F26;
    border-radius: 2vb;
    padding: 2vh 2vw;
    margin-bottom: 5vh;
    width: 20vw;
  }

  .recipeCard img {
    width: 20vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .recipeCard h4 {
    font-family: Aleo, serif;
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    color: white;
    margin: 2vh 0;
    text-align: center;
  }

  .recipeCard p {
    font-family: Aleo, serif;
    font-size: clamp(0.75rem, 1vw, 1.25rem);
    color: white;
    text-align: center;
  }

  .recipeDetails{
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2vw;;
    align-items: center;
    justify-content: center;
  }

  .icon {
    font-size: 2.5vw;
  }

  .icon2 {
    font-size: 3vw;
  }

  .icon3{
    font-size: 2vw;
  }

  @media (max-width: 768px) {
    .resultsSection {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        padding: 10vh 10vw;
        border: solid black;
    }  
    .recipeCard {
        border: solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #3A5F26;
        border-radius: 2vb;
        padding: 2vh 2vw;
        margin-bottom: 5vh;
        width: 50vw;
    }

    .recipeCard img {
        width: 40vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
  }

