.mainBody {
    background-color: #053007F2;
}

.navBar {
    background-color: #FFFCF5;
}

.sectionTitle {
    font-family: "Julius Sans One", sans-serif;
    color: #D9EC81;
    font-size: 4em;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 3vh;
}

.introParagraph {
    font-family: Aleo, serif;
    font-size: 2em;
    color: #FDF8E1;
    width: 60vw;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20vh;
}

.suggestParagraph {
    font-family: Aleo, serif;
    font-size: 2.5em;
    color: #FDF8E1;
    width: 60vw;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10vh;
}

.suggestParagraph2 {
    font-family: Aleo, serif;
    font-size: 2.5em;
    color: #FDF8E1;
    width: 60vw;
    margin: 0 auto;
}

.ingredientButtons {
    margin: 2vh 20vw;
    display: inline-flex;
    gap: 2vw;
    height: 7vh;
}

.ingredientButtons button {
    background-color: #6F8E44;
    font-family: Aleo, serif;
    font-size: 1.5em;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, .7);
    border: solid;
    border-color: #FC7217;
    border-width: 2px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .8);
    display: flex;
    gap: .5vw;
}

.shownRecipeImages {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin: 12vh auto 0 auto;
}

.shownRecipeImages img {
    height: 30vh;
    width: 20vw;
}

.shownRecipeTitles {
    display: flex;
    justify-content: center;
    gap: 5vw;
    font-family: Aleo, serif;
    font-size: 2em;
}

.shownRecipeTitles h4 {
    width: 20vw;
    text-align: center;
}

.shownRecipeTimes {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Aleo, serif;
    font-size: 2em;
    gap: 5vw;
    height: 10vh;
    width: 70%;
    margin: 0 auto;
}

.shownRecipeTimes h5 {
    width: 20vw;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2vw;
}

.shownRecipeTimes img {
    height: 8vh;
    width: 4vw;
    background-color: white;
    border-radius: 50%;
    margin-left: 1vw;
}

.shownRecipeDiff {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Aleo, serif;
    font-size: 2em;
    gap: 5vw;
    height: 10vh;
    width: 70%;
    margin: 0 auto;
}

.shownRecipeDiff h5 {
    width: 20vw;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2vw;
}

.shownRecipeDiff img {
    height: 8vh;
    width: 4vw;
    background-color: #FC7217;
    border-radius: 50%;
    margin-left: 1vw;
}

.shownRecipeServings {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Aleo, serif;
    font-size: 2em;
    gap: 5vw;
    height: 10vh;
    width: 70%;
    margin: 0 auto;
}

.shownRecipeServings h5 {
    width: 20vw;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2vw;
}

.shownRecipeServings img {
    height: 8vh;
    width: 4vw;
    background-color: #D9EC81;
    border-radius: 50%;
    margin-left: 1vw;
}

.breakLine {
    width: 75%;
    margin: 15vh auto;
}

.introParagraph2 {
    font-family: Aleo, serif;
    font-size: 2em;
    color: #FDF8E1;
    width: 60vw;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15vh;
}

.sectionSearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30vh;
}

  .searchBar {
    background-color: #3A5F26;
    opacity: 85%;
    border-style: solid;
    border-color: #FC7217;
    border-width: .5vb;
    border-radius: 50vb;
    font-family: Aleo;
    font-size: 2em;
    padding-left: 2vw;
    height: 9vh;
    width: 50vw;
  }

  .searchButton {
    border-radius: 50vb;
    position: absolute;
    background-color: rgba(252, 114, 23, 0.6);
    font-family: Aleo;
    height: 9vh;
    width: 10vw;
    margin-left: 42vw;
  }

