.letterRange {
    font-family: "Nothing You Could Do", cursive;
    font-size: clamp(1rem, 3vw, 3rem);
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5vw;
}

.rangeButtons {
    background: none;
    color: black;
    border: none;
    text-decoration: underline;
}

.rangeButtons:hover {
    background: none;
    color: black;
    border: none;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.allRecipesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.allRecipes {
    font-family: "Nothing You Could Do", cursive;
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: #D9EC81;
    background: rgba(5, 48, 7, 0.8);
    border: solid 2px #D9EC81;
}

.allRecipes:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.mainTitle {
    font-family: "Julius Sans One", sans-serif;
    color: black;
    font-size: clamp(2rem, 3vw, 3rem);
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.chosenRange {
    font-family: "Julius Sans One", sans-serif;
    color: black;
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-align: center;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.searchInput {
    border: solid #FC7217;
    background-color: white;
    font-family: 'Aleo', serif;
    font-size: clamp(1rem, 3vw, 3rem);
    padding: 1vh 2vw;
    border-radius: 50vb;
    width: 25vw;
    height: 5vh;
    color: black;
}

.searchInput::placeholder {
    color: rgba(5, 48, 7, 0.8);
}

.recipeShown {
    color: black;
}


.recipeTitle {
    font-family: "Nothing You Could Do", cursive;
    color: black;
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
    padding-left: 20%;
    text-decoration: underline;
    margin-top: 8vh;
}

.recipeDescription {
    font-family: Aleo, serif;
    color: black;
    font-size: clamp(1rem, 3vw, 3rem);
    width: 60vw;
    padding-left: 20%;
}


.goToRecipe {
    font-family: 'Nothing You Could Do';
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: #FC7217;
    display: inline-flex;
    width: auto;
    gap: 3vw;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, .8);
    padding-left: 22%;
}

.flippedArrow {
    transform: rotate(180deg);
    height: 7vh;
    filter: drop-shadow(-3px -4px 2px rgba(0, 0, 0, .6));
}

.pageChange {
    font-family: Aleo, serif;
    font-size: clamp(.75rem, 2vw, 2rem);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
}