/* Home Page Layout */

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 50vh;
    background-color: #FFFCF5;
  }

  /* FoodMain Background */
  .foodMain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
  }

  .textBackground {
    position: relative;
    top: 15vh;
    background-color: rgba(5, 48, 7, 0.75);
    border-radius: 25px;
    margin: 0 auto;
  }
  
  .titleText1 {
    position: relative;
    font-family: "Nothing You Could Do", cursive;
    color: #D9EC81;
    opacity: 1;
  }

  .titleText2 {
    position: relative;
    font-family: "Nothing You Could Do", cursive;
    color: #FC7217;
    opacity: 1;
  }

  .titleText3 {
    position: relative;
    font-family: Aleo;
    text-align: center;
  }

  .ingredientSearch {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
  }

  .searchTitleText {
    font-family: "Julius Sans One", sans-serif;
    font-size: 2em;
    color: #333;
    margin-bottom: 3vh;
  }

  .searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchBar {
    background-color: rgba(58, 95, 38, .85);
    border-style: solid;
    border-color: #FC7217;
    border-width: .2rem;
    border-radius: 50px 0 0 50px;
    font-family: Aleo;
    font-size: 2rem;
    padding-left: 2vw;
    box-sizing: border-box;
    color:white;
    height: 10vh;
    outline: none;
  }

  .searchButton {
    background-color: rgba(252, 114, 23);
    border-style: solid;
    border-color: #FC7217;
    border-width: .2rem;
    border-radius: 0 50px 50px 0;
    font-family: Aleo;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    box-sizing: border-box;
  }

  .middleText {
    font-family: "Julius Sans One", sans-serif;
    font-size: 2em;
    color: #333;
    position: relative;
    top: -1vh;
  }
  
  .ingredientChoiceTitle {
    font-family: "Julius Sans One", sans-serif;
    font-size: 2em;
    color: #333;
    position: relative;
    top: 2vh;
    margin-bottom: 10vh;
  }

  .ingredientImages {
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
  }
  
  .ingredient {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    width: fit-content;
    background: none;
    border: none;
  }

  .ingredient:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
  }
  
  .ingredientImage {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    border-radius: 15vh;
  }

  .ingredientImage:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .ingredientLabel {
    margin-top: 2vh;
    font-size: 2em;
    color: #333;
    text-align: center;
    font-family: Aleo, sans-serif;
  }

  .moreIngredientTab {
    color:#000;
    font-size: 1.5em;
    font-family: Aleo, sans-serif;
    display: flex;
    justify-content: center;
    margin: 5vh 0 2vh 0;
    background: none;
  }

  .moreIngredientsButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    font-family: Aleo, sans-serif;
    font-size: 1.5em;
    color: #000;
    cursor: pointer;
  }

  .moreIngredientsButton:hover {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .ingredientList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    list-style: none;
    margin-top: 5vh;
    justify-items: center; 
    color: black;
    font-family: Aleo, sans-serif;
  }

  .ingredientItem {
    cursor: pointer;
    padding: 1vb;
    width: 50%;
    font-size: 1.75rem;
    background: none;
  }

  .ingredientItem:hover {
    background-color: none;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }

  .dropdownContainer {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }

  .dropdownButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .dropdownButton:focus,
  .dropdownButton:active,
  .dropdownButton:hover {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .dropdownContainer2 {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    border: 0.1rem solid transparent;
    border-radius: 3vb;
    width: 15vw;
    padding: 2vh 0;
    justify-self: center;
    transition: border-color 0.2s ease;
  }

  .dropdownContainer2:hover {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    border: 0.124rem solid black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    border-radius: 3vb;
    width: 15vw;
    padding: 2vh 0;
    justify-self: center;
    transition: border-color 0.2s ease;
  }

  .dropdownButton2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .dropdownButton2:focus,
  .dropdownButton2:active,
  .dropdownButton2:hover {
    border: none; 
    outline: none;
    box-shadow: none;
  }

  .moreIngredientButtonArrow {
    border: 0.1rem solid transparent; 
    border-radius: 3vb;
    width: 20vw;
    padding-bottom: 3vh;
    justify-self: center;
    transition: border-color 0.2s ease;
  }

  .moreIngredientButtonArrow:hover {
    border-color: black; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }

  
  /*.image {
    width: 30%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
    */

      /* AI Cooking Assistant */
  .aiCookingAssistant {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #053007;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin-top: 13vh;
  }

  .aiTitle {
    font-family: "Julius Sans One", sans-serif;
    font-size: 5em;
    position: relative;
    top: 20vh;
  }

  .aiDescription {
    font-family: Aleo, serif;
    font-size: 2em;
    position: relative;
    top: 20vh;
    width: 40vw;
    text-align: center;
  }

  .searchBar2 {
    background-color: #3A5F26;
    opacity: 85%;
    border-style: solid;
    border-color: #FC7217;
    border-width: .5vb;
    border-radius: 50vb;
    font-family: Aleo;
    font-size: 2em;
    padding-left: 2vw;
    height: 9vh;
    width: 50vw;
    position: relative;
    top: 25vh;
  }

  .searchButton2 {
    border-radius: 50vb;
    position: relative;
    background-color: rgba(252, 114, 23, 0.6);
    font-family: Aleo;
  }
  
  /* Recipe Section */
  .popularRecipes {
    position: relative;
    font-family: 'Aleo';
    background-size: cover;
    background-repeat: no-repeat;
    height: 235vh;
    color:#000;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popularRecipeText {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4em;
    color: #000;
    text-align: center;
  }

  .recipeContainer {
    display: grid;
    grid-template-columns: 20vw 40vw;
    padding-top: 15vh;
    column-gap: 2vw;
  }

  .recipeContainer2 {
    display: grid;
    grid-template-columns: 20vw 18vw;
    padding-top: 10vh;
    column-gap: 23svw;
  }
  
  .recipeImage{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50vb;
    grid-row: 1 / span 3;
  }

  .recipeImage2{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50vb;
    grid-row: 1 / span 3;
    grid-column: 2;
  }

  .recipeTitle {
    font-family: 'Nothing You Could Do';
    font-size: 2.75em;
    padding-bottom: 2vh;
    text-decoration: underline;
    width: 40vw;
    color: black;
  }

  .recipeTitle:hover {
    color:#D9EC81;
  }
  
  .recipeDescription {
    font-family: 'Aleo';
    font-size: 2em;
    width: 40vw;
    padding-bottom: 2vh;
  }
  
  .goToRecipe {
    font-family: 'Nothing You Could Do';
    font-size: 3em;
    display: inline-flex;
    width: 30vw;
    gap: 3vw;
    color: black;
  }

  .goToRecipe:hover {
    color: #FC7217;
  }

  .flippedArrow {
    transform: rotate(180deg);
    height: 7vh;
  }

  .recipeLineBreak {
    margin-top: 10vh;
    height: .2vh;
    border-width: 0;
    width: 60vw;
    color:#333;
    background-color: #333;
    opacity: 40%;
  }

  .moreRecipesLink {
    text-align: center;
    font-family: Aleo, serif;
    font-size: 2.5em;
    margin-top: 25vh;
    text-decoration: underline;
    color: black;
  }

  .moreRecipesLink:hover {
    color:#FC7217;
  }
  

      @media screen and (min-width: 1440px) {
  
        .textBackground {
          width: 55vw;
          height: 60vh;
        }
        .titleText1 {
          top: 4vh;
          left: 6vw;
          font-size: 5em;
        }
        .titleText2 {
          top: -5vh;
          left: 13vw;
          font-size: 5em;
        }
        .titleText3 {
          top: -7vh;
          left: 5vw;
          font-size: 1.7em;
          width: 45vw;
        }
        .searchBar {
          height: 10vh;
          width: 50vw;
        }
        .searchButton {
          height: 9.8vh;
          width: 10vw;
          top: -10.4vh;
          left: 20.9vw;
        }
        .searchButton2 {
          font-size: 1.5em;
          top: 13.6vh;
          left: 20.5vw;
        }

        .recipeImage{
          height: 40vh;
          width: 18vw;
          margin-top: 5vh;
        }
        .recipeImage2{
          height: 40vh;
          width: 18vw;
          margin-top: 5vh;
        }


      }
      
      @media screen and (min-width: 1920px) {

        .textBackground {
          width: 50vw;
          height: 50vh;
        }
        .titleText1 {
          top: 3vh;
          left: 4vw;
          font-size: 6em;
        }
        .titleText2 {
          top: -5vh;
          left: 11vw;
          font-size: 6em;
        }
        .titleText3 {
          top: -8vh;
          left: 5vw;
          font-size: 2em;
          width: 40vw;
        }
        .searchBar {
          height: 8vh;
          width: 50vw;
        }
        .searchButton {
          height: 7.8vh;
          width: 9vw;
          top: -8.4vh;
          left: 21.46vw;
        }
        .searchButton2 {
          font-size: 2em;
          top: 13.65vh;
          left: 20.15vw;
        }

        .recipeImage{
          height: 40vh;
          width: 19vw;
          margin-top: 0;
        }
        .recipeImage2{
          height: 40vh;
          width: 19vw;
          margin-top: 0;
        }

      }
  