  
  /* Recipe Section */
  .popularRecipes {
    position: relative;
    font-family: 'Aleo';
    background-color: #FDF8E1;
    height: auto;
    margin: 0 auto;
    color:#000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popularRecipeText {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4em;
    color: #000;
    text-align: center;
    margin-top: 10vh;
  }

  .recipeContainer {
    display: grid;
    grid-template-columns: 20vw 40vw;
    padding-top: 15vh;
    column-gap: 2vw;
  }

  .recipeContainer2 {
    display: grid;
    grid-template-columns: 20vw 18vw;
    padding-top: 10vh;
    column-gap: 23svw;
  }
  
  .recipeImage {
    width: 20vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .recipeImage2 {
    width: 20vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .recipeTitle {
    font-family: 'Nothing You Could Do';
    font-size: 2.75em;
    padding-bottom: 2vh;
    text-decoration: underline;
    width: 40vw;
  }
  
  .recipeDescription {
    font-family: 'Aleo';
    font-size: 2em;
    width: 40vw;
    padding-bottom: 2vh;
  }
  
  .goToRecipe {
    font-family: 'Nothing You Could Do';
    font-size: 3em;
    display: inline-flex;
    width: 30vw;
    gap: 3vw;
  }

  .flippedArrow {
    transform: rotate(180deg);
    height: 7vh;
    filter: drop-shadow(-3px -4px 2px rgba(0, 0, 0, .6));
  }

  .recipeLineBreak {
    margin-top: 10vh;
    height: .2vh;
    border-width: 0;
    width: 60vw;
    color:#333;
    background-color: #333;
    opacity: 40%;
  }

  /*More Recipes Section*/

  .moreRecipesContainer {
    display: flex;
    flex-direction: column;
    background-color: #3A5F26;
    width: 100%;
    height: auto;
    align-items: center;
    padding-top: 10vh;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  }

  .moreRecipes {
    background-color: #3A5F26;
    width: 100%;
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .moreRecipesTitle {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4em;
    color: #D9EC81;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 12vh;
  }

  .recipeTitle2 {
    font-family: 'Nothing You Could Do';
    font-size: 2.75em;
    color: #D9EC81;
    padding-bottom: 2vh;
    text-decoration: underline;
    width: 60vw;
  }

  .recipeDescription2 {
    font-family: 'Aleo';
    font-size: 2em;
    padding-bottom: 2vh;
    width: 60vw;
    color: white;
  }
  
  .goToRecipe2 {
    font-family: 'Nothing You Could Do';
    font-size: 3em;
    display: inline-flex;
    width: 60vw;
    gap: 3vw;
    color: #FC7217;
  }

  .moreRecipesLink {
    text-align: center;
    font-family: Aleo, serif;
    font-size: 3rem;
    margin-top: 10vh;
    text-decoration: underline;
    color: white;
  }
