  
  /* Recipe Section */
  .popularRecipes {
    position: relative;
    font-family: 'Aleo';
    background-color: #FDF8E1;
    height: 235vh;
    color:#000;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popularRecipeText {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4em;
    color: #000;
    text-align: center;
  }

  .recipeContainer {
    display: grid;
    grid-template-columns: 20vw 40vw;
    padding-top: 15vh;
    column-gap: 2vw;
  }

  .recipeContainer2 {
    display: grid;
    grid-template-columns: 20vw 18vw;
    padding-top: 10vh;
    column-gap: 23svw;
  }
  
  .recipeImage{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50vb;
    grid-row: 1 / span 3;
  }

  .recipeImage2{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50vb;
    grid-row: 1 / span 3;
    grid-column: 2;
  }

  .recipeTitle {
    font-family: 'Nothing You Could Do';
    font-size: 2.75em;
    padding-bottom: 2vh;
    text-decoration: underline;
    width: 40vw;
  }
  
  .recipeDescription {
    font-family: 'Aleo';
    font-size: 2em;
    width: 40vw;
    padding-bottom: 2vh;
  }
  
  .goToRecipe {
    font-family: 'Nothing You Could Do';
    font-size: 3em;
    display: inline-flex;
    width: 30vw;
    gap: 3vw;
  }

  .flippedArrow {
    transform: rotate(180deg);
    height: 7vh;
  }

  .recipeLineBreak {
    margin-top: 10vh;
    height: .2vh;
    border-width: 0;
    width: 60vw;
    color:#333;
    background-color: #333;
    opacity: 40%;
  }

  .moreRecipesLink {
    text-align: center;
    font-family: Aleo, serif;
    font-size: 2.5em;
    margin-top: 25vh;
    text-decoration: underline;
  }

  /*More Recipes Section*/

  .moreRecipes {
    background-color: #3A5F26;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .moreRecipesTitle {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4em;
    color: #D9EC81;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 12vh;
  }

  .recipeTitle2 {
    font-family: 'Nothing You Could Do';
    font-size: 2.75em;
    padding-bottom: 2vh;
    text-decoration: underline;
    width: 40vw;
    color: #D9EC81;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    padding-left: 23%;
  }
  
  .recipeDescription2 {
    font-family: 'Aleo';
    font-size: 2em;
    width: 60vw;
    padding-bottom: 2vh;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    padding-left: 23%;
  }
  
  .goToRecipe2 {
    font-family: 'Nothing You Could Do';
    font-size: 3em;
    display: inline-flex;
    width: 30vw;
    gap: 3vw;
    color: #FC7217;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    padding-left: 25%;
    margin-bottom: 13vh;
  }

  .flippedArrow2 {
    transform: rotate(180deg);
    height: 7vh;
    filter: drop-shadow(-3px -4px 3px rgba(0, 0, 0, 1));
  }

  .moreRecipesLink {
    text-align: center;
    font-family: Aleo, serif;
    font-size: 2.5em;
    margin-top: 10vh;
    text-decoration: underline;

  }


  @media screen and (min-width: 1440px) { 

    .recipeImage{
      height: 40vh;
      width: 18vw;
      margin-top: 5vh;
    }
    .recipeImage2{
      height: 40vh;
      width: 18vw;
      margin-top: 5vh;
    }
    .moreRecipes{
      margin-top: 50vh;  
    }
  }


  @media screen and (min-width: 1920px) {

    .recipeImage{
      height: 40vh;
      width: 19vw;
      margin-top: 0;
    }
    .recipeImage2{
      height: 40vh;
      width: 19vw;
      margin-top: 0;
    }
    .moreRecipes{
        margin-top: 0vh;  
      }

  }