  
  /* Recipe Section */
  .popularRecipes {
    position: relative;
    font-family: 'Aleo';
    background-color: #FDF8E1;
    height: auto;
    margin: 0 auto;
    color:#000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popularRecipeText {
    font-family: "Julius Sans One", sans-serif;
    font-size: clamp(2rem, 3vw, 3em);
    color: #000;
    text-align: center;
    margin-top: 10vh;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, .4);
  }

  .recipeContainer {
    display: grid;
    grid-template-columns: 20vw 40vw;
    padding: 15vh 0 10vh 0;
    column-gap: 2vw;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
  }

  .recipeContainer2 {
    display: grid;
    grid-template-columns: 20vw 18vw;
    padding-top: 5vh;
    column-gap: 23svw;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .4);

  }

  .recipeImage {
    width: 20vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .recipeImage:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .recipeImage2 {
    width: 20vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .recipeImage2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .recipeTitle {
    font-family: 'Nothing You Could Do';
    font-size: clamp(1.5rem, 2vw, 2.5em);
    padding-bottom: 2vh;
    text-decoration: underline;
    width: 40vw;
    color: black;
  }
  
  .recipeDescription {
    font-family: 'Aleo';
    font-size: clamp(1rem, 2vw, 2.5em);
    width: 40vw;
    padding-bottom: 2vh;
    color: black;
  }
  
  .goToRecipe {
    font-family: 'Nothing You Could Do';
    font-size: clamp(1.5rem, 2vw, 2.5em);
    display: inline-flex;
    width: 30vw;
    gap: 3vw;
    color: black;
  }

  .goToRecipe:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .flippedArrow {
    transform: rotate(180deg);
    height: 7vh;
    filter: drop-shadow(-3px -4px 2px rgba(0, 0, 0, .6));
  }

  .recipeLineBreak {
    margin-top: 10vh;
    height: .2vh;
    border-width: 0;
    width: 60vw;
    color:#333;
    background-color: #333;
    opacity: 40%;
  }

  /*More Recipes Section*/

  .moreRecipesContainer {
    display: flex;
    flex-direction: column;
    background-color: #3A5F26;
    width: 100%;
    height: auto;
    align-items: center;
    padding-top: 10vh;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  }

  .moreRecipes {
    background-color: #3A5F26;
    width: 100%;
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .moreRecipesTitle {
    font-family: "Julius Sans One", sans-serif;
    font-size: clamp(2rem, 3vw, 3em);
    color: #D9EC81;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 12vh;
  }

  .recipeTitle2 {
    font-family: 'Nothing You Could Do';
    font-size: clamp(1.5rem, 2vw, 2.5em);
    color: #D9EC81;
    padding-bottom: 2vh;
    text-decoration: underline;
    width: 60vw;
  }

  .recipeDescription2 {
    font-family: 'Aleo';
    font-size: clamp(1rem, 2vw, 2.5em);
    padding-bottom: 2vh;
    width: 60vw;
    color: white;
  }
  
  .goToRecipe2 {
    font-family: 'Nothing You Could Do';
    font-size: clamp(1.5rem, 2vw, 2.5em);
    display: inline-flex;
    width: 60vw;
    gap: 3vw;
    color: #FC7217;
  }

  .goToRecipe2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .moreRecipesLink {
    text-align: center;
    font-family: Aleo, serif;
    font-size: clamp(1.5rem, 2vw, 2.5em);
    margin-top: 10vh;
    text-decoration: underline;
    color: white;
  }


  @media (max-width: 768px) {
    .recipeContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 2vh;
      margin-top: -5vh;
    }

    .recipeContainer2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 2vh;
      flex-direction: column-reverse;
      margin-top: -5vh;
    }

    .recipeImage{
      grid-row: 1;
      grid-column: auto;
      width: 40vw;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      margin-bottom: 2vh;
    }

    .recipeImage2 {
      order: -1; 
      grid-column: auto !important;
      grid-row: auto !important;
      width: 40vw;
      margin-bottom: 2vh;
    }

    .recipeTitle,
    .recipeDescription,
    .goToRecipe {
      width: 80vw;
      justify-content: center;
    }

    .recipeLineBreak {
      margin-top: 10vh;
      height: .2vh;
      border-width: 0;
      width: 60vw;
      color:#333;
      background-color: #333;
      opacity: 40%;
    }
  }
