  .footerImage {
    width: 100%;
    min-height: 100vh;
    background-image: url('/your/path/to/footer-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .footer {
    height: auto;
    background-color: #080814;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns: 20vw 5vw 10vw 15vw 20vw;
    justify-content: center;
    font-family: Aleo, serif;
    column-gap: 4vw;
    
  }

  .logoCopyIcons {
    grid-column: 1;
    grid-row: 1 / span 2;
    font-size: clamp(1rem, 2vw, 2rem);
    width: 20vw;
  }

  .logoCopyIconsMobile {
    display: none;
  }
  
  .bottomLogo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15vw;
    aspect-ratio: 2 / 1;
    border-radius: 4vb;
    overflow: hidden;
    margin-top: 13vh;
    margin-bottom: 2vh;
  }

  .linkLines {
    height: 8vh;
    width: .3vw;
    margin: 5vh 5vw;
    border-radius: .3vb;
    background-color: #FFF;
  }

  .bottomLinks {
    color: #FFF;
    font-size: clamp(1rem, 2vw, 2rem);
    border: solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.5vh;
    margin-left: 2vw;
    height: 8vh;
  }

  .bottomLinks:hover {
    color: #FC7217;
    cursor: pointer;
  }

  .lineSplit {
    grid-column: 4;
    height: 50vh;
    width: .3vw;
    border-radius: .3vb;
    background-color: #FFF;
  }

  .socialMediaIcons {
    grid-column: 5;
    grid-row: 1 / span 2;
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    margin-top: 12vh;
    line-height: 10vh;
  }

  .socialIcon:hover {
    cursor: pointer;
    transform: scale(1.25);
    transition: transform 0.3s ease;
  }
  
  .socialIcons {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
      
  .socialIcon {
    width: 4vw;
    height: 5vh;
    object-fit: contain;
  }

  @media (max-width:768px) {
      .footerImage {
        width: 100vw;
        min-height: 40vh; 
        height: 40vh;
        max-height: 40vh;
      }


      .logoCopyIcons{
        display: none;
      }

      .logoCopyIconsMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #080814;
      }

      .bottomLogo {
        background-size: cover;
        background-repeat: no-repeat;
        width: 50vw;
        border-radius: 4vb;
        margin: 0 auto;
      }

      .bottomLinks {
        font-size: 1.75rem;
        margin-left: -10vw;
      }

      .lineSplit {
        margin-left: -2vw;
      }

      .socialMediaIcons {
        font-size: 1.75rem;
        margin-left: -12vw;
      }

      .socialIcon {
        width: 15vw;
        height: 5vh;
      }
    
  }

