  /* Footer Section */

  .footerImage {
    width: 100%;
    height: 140vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20vh;
  }

  .footer {
    height: 46vh;
    background-color: #04050A;
    margin-top: 0;
    display: grid;
    grid-template-columns: 20vw 5vw 10vw 15vw 20vw;
    justify-content: center;
    font-family: Aleo, serif;
  }

  .logoCopyIcons {
    grid-column: 1;
    grid-row: 1 / span 2;
    font-size: 1.9em;
    line-height: 10vh;
  }
  
  .bottomLogo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 18vh;
    width: 13vw;
    border-radius: 6vb;
    overflow: hidden;
  }

  .linkLines {
    height: 8vh;
    width: .3vw;
    margin-bottom: 3.7vh;
    margin-top: 2vh;
    border-radius: .3vb;
    background-color: #FFF;
    grid-column: 2;
    grid-row: 1 / span 3;
  }

  .bottomLinks {
    grid-column: 3;
    grid-row: 1 / span 3;
    color: #FFF;
    font-size: 2.8em;
    line-height: 12vh;
  }

  .lineSplit {
    grid-column: 4;
    height: 45vh;
    width: .3vw;
    border-radius: .3vb;
    background-color: #FFF;
    margin-top: -5vh;
  }

  /* Social Media Icons */
  .socialMediaIcons {
    grid-column: 5;
    grid-row: 1 / span 2;
    font-size: 3em;
    text-align: center;
    margin-top: 2vh;
    line-height: 10vh;
  }
  
  .socialIcons {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
      
  .socialIcon {
    width: 4vw;
    height: 5vh;
    object-fit: contain;
  }

  @media screen and (min-width: 1440px) {

    .footerImage {
      margin-top: 0vh;
    }
  }
  
  @media screen and (min-width: 1920px) {

    .footerImage {
      margin-top: 0vh;
    }
  }