/* src/components/LoginPopup.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #FDF8E1;
  border-radius: 1vb;
  width: 50vw;
  height: 70vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 2fr 2fr;
  overflow: hidden;
}

/* Right Side */

.rightSide {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.logoArrow {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
}

.logoImage {
    height: 15vh;
}

.closeBtn {
    display: flex;
    align-items: center;
    margin-right: .5vw;
    background: none;
    color: green;
    font-family: Aleo, serif;
    text-decoration: underline;
    filter: drop-shadow(.2px .2px 0px rgba(0, 0, 0, 0.5));
    font-size: clamp(0.2rem, 1vw, 1.25rem);
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .75rem;
}

.socialButtonsWrapper {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loginForm form {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm h2 {
    font-family: "Julius Sans One", sans-serif;
    color: black;
    width: 20vw;
    text-align: center;
    margin: 1vh auto;
    font-size: clamp(.80rem, 2vw, 3rem);
}

.loginForm input {
    width: 100%; 
    max-width: 20rem;
    padding: 0.55em 1.25em;
    font-size: .80rem;
    background-color: #F2F2F2;
    border: 2px solid #3A5F26;
    border-radius: 1vb;
    color: black;
    font-family: Aleo, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1;
    white-space: inherit;
    margin: .2rem auto;
}

.loginButton {
    width: 100%;
    max-width: 10rem;
    padding: 0.75em 1.25em;
    font-size: 1rem;
    background-color: #6F8E44;
    border: 2px groove #FC7217;
    font-family: Aleo, serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    line-height: 1.2;
    margin-top: 1vh;
}

.signInButtons {
    width: 100%;
    max-width: 20rem;
    padding: 0.55em 1em;
    font-size: .80rem;
    background-color: #F2F2F2;
    border: 2px solid #3A5F26;
    color: black;
    font-family: Aleo, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    box-sizing: border-box;
    line-height: 1;
    white-space: wrap;
}

.icons {
    height: 3vh;
    width: auto;
    padding-right: 1vw;
}

.sectionBreak {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sectionBreak span{
    font-family: Aleo, serif;
    color: rgba(58, 95, 38, .8);
    margin: 0 1rem;
}

.lineBreak {
    background-color: rgba(58, 95, 38, .5);
    height: .2vh;
    width: 5vw;
}

.plainFontStyle {
    font-family: Aleo, serif;
    font-size: .8rem;
    color: black;
    position: relative;
    text-align: center;
    margin-top: 3vh;
}

.boldStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

/*LEFT SIDE*/

.leftSide {
    position: relative;
    width: 25vw;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0; /* prevent shrinking */
}

.loginImage {
    position: relative; /* or absolute with top/left: 0 */
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensure no stretching */
    border-radius: 1vb 0 0 1vb;
}

@media screen and (min-width: 1920px) {
    /* Right Side */

.rightSide {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.logoArrow {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.logoImage {
    height: 15vh;
}

.closeBtn {
    display: flex;
    align-items: center;
    margin-right: .5vw;
    background: none;
    color: green;
    font-family: Aleo, serif;
    text-decoration: underline;
    filter: drop-shadow(.2px .2px 0px rgba(0, 0, 0, 0.5));
    font-size: clamp(0.2rem, 1vw, 1.25rem);
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .75rem;
}

.socialButtonsWrapper {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loginForm form {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm h2 {
    font-family: "Julius Sans One", sans-serif;
    color: black;
    font-size: 200%;
    width: 20vw;
    text-align: center;
    margin: 1vh auto;
}

.loginForm input {
    width: 100%; 
    max-width: 20rem;
    padding: 0.75em 1.25em;
    font-size: 1rem;
    background-color: #F2F2F2;
    border: 2px solid #3A5F26;
    border-radius: 1vb;
    color: black;
    font-family: Aleo, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
    white-space: inherit;
    margin: .25rem auto;
}

.loginButton {
    width: 100%;
    max-width: 12rem;
    padding: 0.75em 1.25em;
    font-size: 1rem;
    background-color: #6F8E44;
    border: 2px groove #FC7217;
    font-family: Aleo, serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    line-height: 1.2;
    margin-top: 1vh;
}

.signInButtons {
    width: 100%; 
    max-width: 20rem;
    padding: 0.75em 1.25em;
    font-size: 1rem; 
    background-color: #F2F2F2;
    border: 2px solid #3A5F26;
    color: black;
    font-family: Aleo, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    box-sizing: border-box;
    line-height: 1.2;
    white-space: nowrap;
}

.icons {
    height: 3vh;
    width: auto;
    padding-right: 1vw;
}

.sectionBreak {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sectionBreak span{
    font-family: Aleo, serif;
    color: rgba(58, 95, 38, .8);
    margin: 0 1rem;
}

.lineBreak {
    background-color: rgba(58, 95, 38, .5);
    height: .2vh;
    width: 5vw;
}

.plainFontStyle {
    font-family: Aleo, serif;
    font-size: .9rem;
    color: black;
    position: relative;
    text-align: center;
    margin-top: 3vh;
}

.boldStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

/*LEFT SIDE*/

.leftSide {
    margin: 0 auto;
    height: 100%;
}

.loginImage {
    position: relative;
    height: 100%;
    width: 25vw;
    border-radius: 0 0 0 1vb;
}
}