.navBar {
  width: 100vw; /* full viewport width */
  height: auto;
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr 2fr 1.5fr 1.5fr 1fr;
  gap: 1vw;
  align-items: center;
  font-family: "Julius Sans One", sans-serif;
  position: relative;
  font-size: clamp(1rem, 2vw, 2rem);
  color: #000;
  box-sizing: border-box;
  background-color: rgba(255, 252, 245, 0.5);
  z-index: 10;
}

.navOption {
  color: #000;
  text-align: center;
}

.navOption:hover {
  color:#FC7217;
}

.logo {
  width: clamp(50px, 20vw, 250px);
  height: clamp(50px, 20vh, 250px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.signUp {
  border-style: solid;
  border-color: #3A5F26;
  border-width: 5px;
  border-radius: 50px;
  background-color: #FFFCF5;
  position: relative;
  color: #3A5F26;
  width: clamp(min(10vw, .5rem), 12vw, max(15vw, 1rem));
  height: auto;
  font-size: clamp(.5rem, 1.5vw, 2rem);
}

.logIn {
  border-style: solid;
  border-color: #053007;
  border-width: 5px;
  border-radius: 50px;
  background-color: #3A5F26;
  position: relative;
  color: #D9EC81;
  width: clamp(min(10vw, .5rem), 12vw, max(15vw, 1rem));
  height: auto;
  font-size: clamp(.54rem, 1.5vw, 2rem);
}

 .searchIconButton {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  width: clamp(2rem, 5vw, 5rem);
  height: clamp(2rem, 5vw, 5rem);
  margin-right: 2vw;
  border: none;
}

.searchIconButton:focus-visible {
  outline: 2px solid #FC7217;
  outline-offset: 2px;
  border: none;
}

.searchIconButton:hover {
  background-color: none;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  border: none;
}

.searchForm {
  position: absolute;
  top: 0vh;
  right: 0vw;
  background: #FDF8E1;
  border-radius: 2vb;
  border: solid 4px; 
  box-shadow: 2px 2px 5px black;
}

.closeButton {
  background: none;
  height: 5vh;
  margin: 1vh;
  display: flex;
  justify-self: flex-end;
  align-items: center;
}

.searchInput {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: Aleo, serif;
  background-color: rgba(5, 48, 7, 0.75);
  border: solid #053007;
  border-radius: 2vb;
  text-align: center;
  margin: .5vh 1vw 2vh 1vw;
  box-shadow: 2px 2px 5px black;
}

.searchInput::placeholder {
  color: #D9EC81;
}

.submitButton {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: Aleo, serif;
  padding: 1vh 3vw;
  display: flex;
  justify-self: center;
  margin-bottom: 2vh;
  background-color: #FC7217;
  color:white;
  box-shadow: 2px 2px 5px black;
}

