.navBar {
  width: 100vw; /* full viewport width */
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr 1fr;
  gap: 1vw;
  align-items: center;
  font-family: "Julius Sans One", sans-serif;
  position: relative;
  font-size: clamp(1rem, 3vw, 3rem);
  color: #000;
  box-sizing: border-box;
  background-color: rgba(255, 252, 245, 0.5);
  z-index: 10;
}

.navOption {
  color: #000;
  text-align: center;
}

.navOption:hover {
  color:#FC7217;
}

.logo {
  width: clamp(50px, 20vw, 250px);
  height: clamp(50px, 20vh, 250px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

 .searchIconButton {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  width: clamp(2rem, 5vw, 5rem);
  height: clamp(2rem, 5vw, 5rem);
  margin-right: 2vw;
  margin-left: 5vw;
  border: none;
}

.searchIconButton:focus-visible {
  outline: 2px solid #FC7217;
  outline-offset: 2px;
  border: none;
}

.searchIconButton:hover {
  background-color: none;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  border: none;
}

.searchForm {
  position: absolute;
  top: .25vh;
  right: 1vw;
  background: #FDF8E1;
  border-radius: 4vb;
  border: solid 2px; 
  box-shadow: 2px 2px 5px black;
}

.closeButton {
  background: none;
  padding: 2vb;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  border: none;
}

.closeButton:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  border: none;
}

.searchInput {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: Aleo, serif;
  background-color: rgba(5, 48, 7, 0.75);
  border: 2px solid #053007;
  border-radius: 5vb;
  text-align: center;
  margin: 0vh 1vw 2vh 1vw;
  padding: 1vb;
  box-shadow: 2px 2px 5px black;
}

.searchInput::placeholder {
  color: #D9EC81;
}

.submitButton {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: Aleo, serif;
  padding: 1vh 3vw;
  display: flex;
  justify-self: center;
  margin-bottom: 2vh;
  background-color: #FC7217;
  color:white;
  box-shadow: 2px 2px 5px black;
  border-radius: 2vb;
  border: none;
}

.submitButton:hover {
  background-color: #e66015;
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

